/*
Temml.woff2 is a clone of KaTeX_Script-Regular, except that the code points
have been changed from ASCII to Unicode Mathematical Alphanumeric Symbols Script capitals,
Unicode range 1D49C to 1D4B5.
*/

@font-face {
  font-family: 'Temml';
  src: url('Temml.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

math {
  font-family: "Cambria Math", 'STIXTwoMath-Regular', "Times New Roman", math;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size-adjust: none;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
}

math * {
  border-color: currentColor;
}

/* Next line is active in Firefox and Safari.
 * Not in Chromium, which recognizes display: "block math" written inline. */
math.tml-display { display: block; }

math .mathscr {
  font-family: "Temml";
}

mo.tml-prime {
  font-family: Temml;
}

/* flex-wrap for line-breaking in Chromium */
math {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}
math > mrow {
  padding: 0.5ex 0ex;
}

/* Avoid flex-wrap in Firefox */
@-moz-document url-prefix() {
  math { display: inline; }
  math > mrow { padding: 0 }
}

/* AMS environment auto-numbering via CSS counter. */
.tml-eqn::before {
  counter-increment: tmlEqnNo;
  content: "(" counter(tmlEqnNo) ")";
}

body {
  counter-reset: tmlEqnNo;
}

/* Environment arrays */

/* Environments that addjot to row spacing */
mtable.tml-jot > mtr > mtd {
  padding-top: calc(0.5ex + 0.09em);
  padding-bottom: calc(0.5ex + 0.09em);
}

/* Zero column gap for {alignat}, {split}, etc */
mtable.tml-abut > mtr > mtd,
mtable.tml-align > mtr > mtd:nth-child(odd),
mtable.tml-align-star > mtr > mtd:nth-child(even) {
  padding-left: 0em;
  padding-right: 0em;
}

mtable.tml-align > mtr > mtd:nth-child(even),
mtable.tml-align-star > mtr > mtd:nth-child(odd) {
  padding-left: 1em;
  padding-right: 0em;
}

mtable.tml-align > mtr > mtd:nth-child(1) {
  padding-left: 0em;
}

mtable.tml-align > mtr > mtd:nth-child(odd),
mtable.tml-alignat > mtr > mtd:nth-child(odd),
mtable.tml-aligned > mtr > mtd:nth-child(even) {
  text-align: -webkit-left;
  text-align: -moz-left;
}

mtable.tml-align > mtr > mtd:nth-child(even),
mtable.tml-alignat > mtr > mtd:nth-child(even),
mtable.tml-aligned > mtr > mtd:nth-child(odd) {
  text-align: -webkit-right;
  text-align: -moz-right;
}

mtable.tml-cases > mtr > mtd {
  padding-left: 0em;
  padding-right: 0em;
  text-align: -webkit-left;
  text-align: -moz-left;
}

mtable.tml-cases > mtr > mtd:nth-child(2) {
  padding-left: 1em;
}

mtable.tml-small > mtr > mtd {
  padding-top: 0.35ex;
  padding-bottom: 0.35ex;
  padding-left: 0.1389em;
  padding-right: 0.1389em;
}

mtable.tml-subarray > mtr > mtd {
  padding-top: 0em;
  padding-left: 0em;
}

mtable.tml-cd > mtr > mtd {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

mtable > mtr:first-child > mtr > mtd {
  padding-top: 0em;
}

mtable > mtr:last-child > mtr > mtd {
  padding-bottom: 0em;
}

mtable:not(.tml-array) > mtr > mtd:first-child {
  padding-left: 0em;
}

mtable:not(.tml-array) > mtr > mtd:last-child {
  padding-right: 0em;
}

mtr.tml-top-solid > mtd {
  border-top: 0.06em solid;
}

mtr.tml-top-double > mtd {
  border-top: 0.15em double;
}

mtr.tml-top-dashed > mtd {
  border-top: 0.06em dashed;
}

mtr.tml-hline-solid > mtd {
  border-bottom: 0.06em solid;
}

mtr.tml-hline-double > mtd {
  border-bottom: 0.15em double;
}

mtr.tml-hline-dashed > mtd {
  border-bottom: 0.06em dashed;
}

/* MathML-Core does not support <menclose> attributes.
 * So Use background images for \cancel */
mrow.cancel {
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.06em),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.06em),
          rgba(0,0,0,0) 100%);
}

mrow.bcancel {
  background: 
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.06em),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.06em),
          rgba(0,0,0,0) 100%);
}

mrow.xcancel {
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.06em),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.06em),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.06em),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.06em),
          rgba(0,0,0,0) 100%);
}
