/*
The Temml-Script is a clone of KaTeX_Script-Regular, except that the code points
have been changed from ASCII to Unicode Mathematical Alphanumeric Symbols Script capitals,
Unicode range 1D49C to 1D4B5.
*/

@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

@font-face {
  font-family: 'Temml-Script';
  src: url('Temml-Script.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

m|math {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size-adjust: none;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
}

.temml * {
  border-color: currentColor;
}

m|mtext {
  font-family: "Cambria Math", "Times New Roman", math;
}

m|math {
  font-family: "Cambria Math", "Times New Roman", math;
}

m|*.mathscr {
  font-family: "Temml-Script";
}

.oldstylenums {
  font-feature-settings: 'onum';
}

/* AMS environment auto-numbering via CSS counter. */
.tml-eqn::before {
  counter-increment: tmlEqnNo;
  content: "(" counter(tmlEqnNo) ")";
}

body {
  counter-reset: tmlEqnNo;
}
