* { margin:0; }  /* reset */

body {
  margin: 0 0 5px;
  line-height: 1.45;
  background: white;
  font-family: Calibri, 'Helvetica Neue', Arial, Cambria, sans-serif;
  font-size: 18px;
  position: relative;
}

nav {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  font-size: 16px;
  height: 66px
}

nav * {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: block;
  float: right;
  padding-top: 27px;
  text-decoration: none
}

nav a {
  padding: 33px 0 0 18px;
  text-decoration: none;
  color: inherit;
}

article, #title {
  max-width: 800px;
  margin: 0 auto;
}

#demo {
  margin: 0px 2.5px 0px 2.5px;
  overflow: fixed;
}

h1 {
  font-family: Verdana, sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  margin-top: 3em;
  font-size: 140%;
  margin-top: 1em;
}

p {
  margin-top: 1em;
  line-height: 1.35;
  text-align: justify;
}

#why {
  width: 70%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#why ul li {
  list-style-type: disc;
  line-height: 1.35;
  margin-top: 0.5em;
  position: relative;
  left: 1.8em;
}

a {
  text-decoration: underline;
  color: black;
}

#demo-parent {
  width: 100%;
}

#demo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wide #demo {
  flex-direction: column;
}

#input,
#output {
  width: 395px;
  flex-basis: auto;
}

.wide #input,
.wide #output {
  width: 100%;
}

#spacer {
  width: 10px;
}

.ioArea {
    font-size: 0.9em;
    width: 360px;
    height: 10em;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    display: inline-block;
    padding: 1em 1em;
    vertical-align: top;
    resize: none;
    overflow: auto;
}

.wide .ioArea {
  width: 760px;
}

math {
  font-size: 115%;
}

#demoSource {
    font-family: Consolas, Menlo, Monaco, monospace;
}

#notice {
  margin-top: 2em;
  color:rgb(182, 32, 32);
}

.active-button {
  background: #888;
}

@media (max-width: 799px){
  nav {
    width: 90%;
  }
  article, #input, #output, #title, #copyright {
    width: 100%;
  }
  .ioArea {
    width: 93%
  }
  #why ul { padding-inline-start: 0; }
  #wide + label,
  #wide { visibility: hidden; }
}

#copyright {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
}

#copyright a {
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #d3d3d3;
  padding: 4px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown a { text-decoration: none; }

.dropdown:hover .dropdown-content {
  display: block;
}